.topbarContainer {
    height: 50px;
    width: 100%;
    background-color: #1877f2;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.topbarLeft {
    flex: 3;
}
.topbarCenter {
    flex: 5;
}
.topbarRight {
   flex: 4;
   display: flex;
   align-items: center;
   justify-content: space-around;
   color: white;
}
.logo {
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.searchbar {
    width: 100%;
    height: 30px;
    background-color: white;
    display: flex;
    align-items: center;
}
.searchIcon{
    font-size: 20px !important;
    margin-left: 10px;
}
.searchInput {
    width: 70%;
    border: none;
}
.searchInput:focus {
    outline: none;
}
.topbarLinks {
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
}
.topbarIcons {
    display: flex;
}
.topbarIconsItem {
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}
.topbarIconBadge {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.topbarImg {
    width: 32px;
    height: 32px;
    cursor: pointer;
    border-radius: 50%;
    object-fit: cover;
}